<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UUID</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <br /> <br/>
    Your UUID is <strong><%=uuid%></strong> <%=(justSet)?" which I just set":" which it already was"%>.
  </body>
</html>
